body {
    color: red;
    background-color: rgb(20, 211, 232);
}

.heading {
    width:80%;
    font-size:20px;
}

.name_of_objects, #result_object_name, #result_object_accuracy {
    color: yellow;
}

#camera, #result {
    width: 350px;
    height: 300px;
    border: 2px;
    border: 2px dotted black;
}